USE [master]
GO
/****** Object:  Database [PIA]    Script Date: 11/11/2017 22:02:35 ******/
CREATE DATABASE [PIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIA', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PIA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PIA_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PIA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIA]
GO
/****** Object:  StoredProcedure [dbo].[BuscadorEstudiantes]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[BuscadorEstudiantes]
@Matricula int
as 
begin
	select Matricula, Nombre, Apellido_Paterno, Apellido_Materno, Correo from Estudiante
	where Matricula = @Matricula
end

GO
/****** Object:  StoredProcedure [dbo].[ClientesAceptadosSP]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ClientesAceptadosSP] (@Estatus varchar(15))
AS BEGIN
	Select Estatus.ID, Estatus.Descripcion, Cliente.ID, Cliente.Nombre
	From Estatus inner join Cliente ON Estatus.ID = Cliente.Estatus_ID
	where Estatus.Nombre = @Estatus
END

exec [ClientesAceptadosSP] 'Aceptado'
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Por_Area]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Obtener_Por_Area]
( @Area varchar(50)) AS 
begin
	SELECT e.Nombre,e.Apellido_Paterno,e.Apellido_Materno,p.GradoEstudio AS Grado FROM Profesor p
		JOIN Empleado AS e ON p.Empleado_No_empleado = e.No_empleado
		JOIN Area AS a ON a.ID = p.Area_ID
		WHERE a.Nombre = @Area
end;

exec Obtener_Por_Area 'Ciencias Naturales'; 
GO
/****** Object:  StoredProcedure [dbo].[UltimosAlumnosRegSP]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UltimosAlumnosRegSP] (@ID int)
AS BEGIN
	Select ID, Nombre, Apellido_Paterno, Apellido_Materno
	From Cliente
	Where ID >= @ID
END

exec [UltimosAlumnosRegSP] 350
GO
/****** Object:  UserDefinedFunction [dbo].[Edad_Cliente]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Edad_Cliente] (@Cliente int)
RETURNS INT
WITH EXECUTE AS CALLER
AS
BEGIN
	DECLARE @Edad int;
	DECLARE @FechaNacimiento Date;
	SET @FechaNacimiento = (SELECT c.Fecha_nacimiento FROM Cliente c WHERE c.ID = @Cliente);
	SET @Edad = DATEDIFF(year,@FechaNacimiento,GETDATE());
	RETURN (@Edad)
END;

GO
/****** Object:  Table [dbo].[Area]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Area](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [Area_pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Aula]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aula](
	[Numero] [int] NOT NULL,
	[Capacidad] [smallint] NOT NULL,
	[Tipo_aula] [int] NOT NULL,
 CONSTRAINT [Aula_pk] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clases]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clases](
	[Materia_Clave] [int] NOT NULL,
	[Curso_Clave] [int] NOT NULL,
 CONSTRAINT [Clases_pk] PRIMARY KEY CLUSTERED 
(
	[Materia_Clave] ASC,
	[Curso_Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](70) NOT NULL,
	[Apellido_Paterno] [varchar](40) NOT NULL,
	[Apellido_Materno] [varchar](40) NULL,
	[Correo] [varchar](100) NOT NULL,
	[Direccion] [varchar](150) NULL,
	[Fecha_nacimiento] [date] NOT NULL,
	[Estatus_ID] [int] NOT NULL,
 CONSTRAINT [Cliente_pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cuenta](
	[ID] [int] NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[PasswordCuenta] [varchar](700) NOT NULL,
	[NivelAutorizacion] [int] NOT NULL,
 CONSTRAINT [Cuenta_pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[Clave] [int] NOT NULL,
	[Aula_Numero] [int] NOT NULL,
	[Profesor_Empleado_No_empleado] [int] NOT NULL,
 CONSTRAINT [Curso_pk] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Curso_Horario]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso_Horario](
	[Curso_Clave] [int] NOT NULL,
	[Horario_Clave] [int] NOT NULL,
 CONSTRAINT [Curso_Horario_pk] PRIMARY KEY CLUSTERED 
(
	[Curso_Clave] ASC,
	[Horario_Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[No_empleado] [int] NOT NULL,
	[Nombre] [varchar](70) NOT NULL,
	[Apellido_Paterno] [varchar](40) NOT NULL,
	[Apellido_Materno] [varchar](40) NULL,
	[Direccion] [varchar](150) NULL,
	[Fecha_nacimiento] [date] NOT NULL,
 CONSTRAINT [Empleado_pk] PRIMARY KEY CLUSTERED 
(
	[No_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estatus]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estatus](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
 CONSTRAINT [Estatus_pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[ID] [int] NOT NULL,
	[Curso_Clave] [int] NOT NULL,
	[Calificacion] [numeric](4, 2) NULL,
	[Cliente_ID] [int] NOT NULL,
 CONSTRAINT [Grupo_pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Horario]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Horario](
	[Clave] [int] IDENTITY(1,1) NOT NULL,
	[Hora_inicio] [time](7) NOT NULL,
	[Hora_fin] [time](7) NOT NULL,
	[Dia] [varchar](15) NOT NULL,
 CONSTRAINT [Horario_pk] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[Clave] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Hora_semanal] [smallint] NOT NULL,
	[Grado] [smallint] NOT NULL,
	[Area_ID] [int] NOT NULL,
 CONSTRAINT [Materia_pk] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profesor](
	[Empleado_No_empleado] [int] NOT NULL,
	[Cuenta_ID] [int] NULL,
	[Estatus_ID] [int] NOT NULL,
	[Area_ID] [int] NOT NULL,
	[GradoEstudio] [varchar](100) NOT NULL,
 CONSTRAINT [Profesor_pk] PRIMARY KEY CLUSTERED 
(
	[Empleado_No_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipo_Aula]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_Aula](
	[ID] [int] NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
 CONSTRAINT [Tipo_pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[Calificaciones_de]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Calificaciones_de] (@Matricula int)
RETURNS TABLE
	RETURN SELECT cli.ID, Calificacion,m.Nombre
				FROM Grupo 
				JOIN Curso AS C ON Grupo.Curso_Clave = C.Clave
				JOIN Clases AS Cl ON Cl.Curso_Clave = C.Clave
				JOIN Materia AS m ON Cl.Materia_Clave = m.Clave
				JOIN Cliente AS cli ON cli.ID = Grupo.Cliente_ID
				WHERE Cliente_ID = @Matricula;
;
GO
/****** Object:  View [dbo].[AreaArteCultura]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[AreaArteCultura] AS
Select Profesor.Empleado_No_empleado, Profesor.Area_ID, Profesor.GradoEstudio, Area.Nombre
From Profesor inner join Area ON Profesor.Area_ID = Area.ID
Where Area.ID = 6
GO
/****** Object:  View [dbo].[AreaCienciasN]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[AreaCienciasN] AS
Select Profesor.Empleado_No_empleado, Profesor.Area_ID, Profesor.GradoEstudio, Area.Nombre
From Profesor inner join Area ON Profesor.Area_ID = Area.ID
Where Area.ID = 3
GO
/****** Object:  View [dbo].[AreaCienciasS]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[AreaCienciasS] AS
Select Profesor.Empleado_No_empleado, Profesor.Area_ID, Profesor.GradoEstudio, Area.Nombre
From Profesor inner join Area ON Profesor.Area_ID = Area.ID
Where Area.ID = 4
GO
/****** Object:  View [dbo].[AreaDeportes]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[AreaDeportes] AS
Select Profesor.Empleado_No_empleado, Profesor.Area_ID, Profesor.GradoEstudio, Area.Nombre
From Profesor inner join Area ON Profesor.Area_ID = Area.ID
Where Area.ID = 5
GO
/****** Object:  View [dbo].[AreaEspañol]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[AreaEspañol] AS
Select Profesor.Empleado_No_empleado, Profesor.Area_ID, Profesor.GradoEstudio, Area.Nombre
From Profesor inner join Area ON Profesor.Area_ID = Area.ID
Where Area.ID = 2
GO
/****** Object:  View [dbo].[AreaMatematicas]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[AreaMatematicas] AS
Select Profesor.Empleado_No_empleado, Profesor.Area_ID, Profesor.GradoEstudio, Area.Nombre
From Profesor inner join Area ON Profesor.Area_ID = Area.ID
Where Area.ID = 1
GO
/****** Object:  View [dbo].[ClientesAceptados]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[ClientesAceptados] AS
Select Estatus.Nombre AS 'Tipo de Estatus', Cliente.ID, Cliente.Nombre, Cliente.Apellido_Paterno, Cliente.Apellido_Materno
From Estatus inner join Cliente ON Estatus.ID = Cliente.Estatus_ID
Where Estatus.Nombre = 'Aceptado'
GO
/****** Object:  View [dbo].[CorreosClientes]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CorreosClientes] AS
SELECT Cliente.ID, Cliente.Correo
FROM Cliente
GO
/****** Object:  View [dbo].[Doctores]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Doctores] AS
SELECT Profesor.GradoEstudio, Profesor.Empleado_No_empleado
FROM Profesor
WHERE Profesor.GradoEstudio = 'Doctorado'

GO
/****** Object:  View [dbo].[EstudiantesSuspendidos]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EstudiantesSuspendidos] AS
SELECT COUNT(ID) as 'Cantidad de alumnos suspendidos'
FROM Cliente
WHERE Estatus_ID =  3 
GO
/****** Object:  View [dbo].[Laboratorios]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Laboratorios] AS
SELECT Numero, Capacidad
FROM Aula
WHERE Tipo_aula = 1
GO
/****** Object:  View [dbo].[Licenciaturas]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Licenciaturas] AS
SELECT Profesor.GradoEstudio, Profesor.Empleado_No_empleado
FROM Profesor
WHERE Profesor.GradoEstudio = 'Licenciatura'
GO
/****** Object:  View [dbo].[Maestrias]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Maestrias] AS
SELECT Profesor.GradoEstudio, Profesor.Empleado_No_empleado
FROM Profesor
WHERE Profesor.GradoEstudio = 'Maestria'
GO
/****** Object:  View [dbo].[ProfesoresActivos]    Script Date: 11/11/2017 22:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[ProfesoresActivos] AS
Select Estatus.Nombre AS 'Tipo de Estatus', Profesor.Empleado_No_empleado, Profesor.Cuenta_ID, Profesor.GradoEstudio
From Estatus inner join Profesor ON Estatus.ID = Profesor.Estatus_ID
Where Estatus.ID = 3
GO
INSERT [dbo].[Area] ([ID], [Nombre]) VALUES (6, N'Arte y Cultura')
INSERT [dbo].[Area] ([ID], [Nombre]) VALUES (3, N'Ciencias Naturales')
INSERT [dbo].[Area] ([ID], [Nombre]) VALUES (4, N'Ciencias Sociales')
INSERT [dbo].[Aula] ([Numero], [Capacidad], [Tipo_aula]) VALUES (100, 45, 2)
INSERT [dbo].[Aula] ([Numero], [Capacidad], [Tipo_aula]) VALUES (101, 40, 1)
INSERT [dbo].[Aula] ([Numero], [Capacidad], [Tipo_aula]) VALUES (102, 39, 1)
GO
INSERT [dbo].[Cliente] ([ID], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Correo], [Direccion], [Fecha_nacimiento], [Estatus_ID]) VALUES (1, N'Barclay', N'Perez', N'Cook', N'sed.consequat.auctor@sem.co.uk', N'Apdo.:888-2122 Malesuada Calle', CAST(0x28230B00 AS Date), 9)
INSERT [dbo].[Cliente] ([ID], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Correo], [Direccion], [Fecha_nacimiento], [Estatus_ID]) VALUES (2, N'Lila', N'Griffith', N'Joyce', N'felis.eget.varius@Donec.net', N'Apdo.:826-2467 Pede, C/', CAST(0xBC210B00 AS Date), 8)
INSERT [dbo].[Cliente] ([ID], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Correo], [Direccion], [Fecha_nacimiento], [Estatus_ID]) VALUES (3, N'Branden', N'Patel', N'Copeland', N'et@risus.ca', N'756-3939 Blandit Av.', CAST(0x00240B00 AS Date), 8)
GO
INSERT [dbo].[Cuenta] ([ID], [Usuario], [PasswordCuenta], [NivelAutorizacion]) VALUES (1, N'Usuario1', N'ContrasenaDefault', 3)
INSERT [dbo].[Cuenta] ([ID], [Usuario], [PasswordCuenta], [NivelAutorizacion]) VALUES (2, N'admin', N'admin', 1)
INSERT [dbo].[Cuenta] ([ID], [Usuario], [PasswordCuenta], [NivelAutorizacion]) VALUES (3, N'Profesor1', N'Profesor1', 2)
GO
INSERT [dbo].[Curso] ([Clave], [Aula_Numero], [Profesor_Empleado_No_empleado]) VALUES (1, 101, 1001)
INSERT [dbo].[Curso] ([Clave], [Aula_Numero], [Profesor_Empleado_No_empleado]) VALUES (2, 102, 1002)
INSERT [dbo].[Curso] ([Clave], [Aula_Numero], [Profesor_Empleado_No_empleado]) VALUES (3, 103, 1003)
INSERT [dbo].[Curso_Horario] ([Curso_Clave], [Horario_Clave]) VALUES (1, 1)
INSERT [dbo].[Curso_Horario] ([Curso_Clave], [Horario_Clave]) VALUES (1, 12)
INSERT [dbo].[Curso_Horario] ([Curso_Clave], [Horario_Clave]) VALUES (1, 15)
INSERT [dbo].[Empleado] ([No_empleado], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Direccion], [Fecha_nacimiento]) VALUES (1000, N'Penelope', N'England', N'Gibbs', N'Apdo.:718-9158 Ligula. C.', CAST(0x50170B00 AS Date))
INSERT [dbo].[Empleado] ([No_empleado], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Direccion], [Fecha_nacimiento]) VALUES (1001, N'Sarah', N'Vinson', N'Rasmussen', N'Apartado núm.: 324, 7681 Metus C/', CAST(0xB3120B00 AS Date))
INSERT [dbo].[Empleado] ([No_empleado], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Direccion], [Fecha_nacimiento]) VALUES (1002, N'Laurel', N'Alexander', N'Franco', N'Apdo.:863-2467 Mattis Av.', CAST(0x40100B00 AS Date))
GO
INSERT [dbo].[Estatus] ([ID], [Nombre], [Descripcion]) VALUES (1, N'baja', N'profesor,alumno')
INSERT [dbo].[Estatus] ([ID], [Nombre], [Descripcion]) VALUES (2, N'jubilado', N'profesor')
INSERT [dbo].[Estatus] ([ID], [Nombre], [Descripcion]) VALUES (3, N'activo', N'profesor')
INSERT [dbo].[Grupo] ([ID], [Curso_Clave], [Calificacion], [Cliente_ID]) VALUES (1, 40, NULL, 400)
INSERT [dbo].[Grupo] ([ID], [Curso_Clave], [Calificacion], [Cliente_ID]) VALUES (2, 37, NULL, 350)
INSERT [dbo].[Grupo] ([ID], [Curso_Clave], [Calificacion], [Cliente_ID]) VALUES (3, 33, NULL, 300)
SET IDENTITY_INSERT [dbo].[Horario] ON 

INSERT [dbo].[Horario] ([Clave], [Hora_inicio], [Hora_fin], [Dia]) VALUES (1, CAST(0x0700D85EAC3A0000 AS Time), CAST(0x070040230E430000 AS Time), N'Lunes')
INSERT [dbo].[Horario] ([Clave], [Hora_inicio], [Hora_fin], [Dia]) VALUES (2, CAST(0x070040230E430000 AS Time), CAST(0x0700A8E76F4B0000 AS Time), N'Lunes')
INSERT [dbo].[Horario] ([Clave], [Hora_inicio], [Hora_fin], [Dia]) VALUES (3, CAST(0x0700A8E76F4B0000 AS Time), CAST(0x070010ACD1530000 AS Time), N'Lunes')
SET IDENTITY_INSERT [dbo].[Horario] OFF
INSERT [dbo].[Materia] ([Clave], [Nombre], [Hora_semanal], [Grado], [Area_ID]) VALUES (1, N'Español I', 4, 1, 2)
INSERT [dbo].[Materia] ([Clave], [Nombre], [Hora_semanal], [Grado], [Area_ID]) VALUES (2, N'Español II', 4, 2, 2)
INSERT [dbo].[Materia] ([Clave], [Nombre], [Hora_semanal], [Grado], [Area_ID]) VALUES (3, N'Español III', 4, 3, 2)
INSERT [dbo].[Profesor] ([Empleado_No_empleado], [Cuenta_ID], [Estatus_ID], [Area_ID], [GradoEstudio]) VALUES (1000, 9, 3, 5, N'Doctorado')
INSERT [dbo].[Profesor] ([Empleado_No_empleado], [Cuenta_ID], [Estatus_ID], [Area_ID], [GradoEstudio]) VALUES (1001, 10, 3, 2, N'Doctorado')
INSERT [dbo].[Profesor] ([Empleado_No_empleado], [Cuenta_ID], [Estatus_ID], [Area_ID], [GradoEstudio]) VALUES (1002, 11, 3, 3, N'Licenciatura')
GO
INSERT [dbo].[Tipo_Aula] ([ID], [TIPO]) VALUES (1, N'Laboratorio')
INSERT [dbo].[Tipo_Aula] ([ID], [TIPO]) VALUES (2, N'Salon')
/****** Object:  Index [UQ__Area__3214EC2607E52FC3]    Script Date: 11/11/2017 22:02:35 ******/
ALTER TABLE [dbo].[Area] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Area__75E3EFCF05216F59]    Script Date: 11/11/2017 22:02:35 ******/
ALTER TABLE [dbo].[Area] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Aula__7E532BC60340722B]    Script Date: 11/11/2017 22:02:35 ******/
ALTER TABLE [dbo].[Aula] ADD UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Cliente__3214EC2686ADC3CB]    Script Date: 11/11/2017 22:02:35 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Cuenta__3214EC26173ACC0C]    Script Date: 11/11/2017 22:02:35 ******/
ALTER TABLE [dbo].[Cuenta] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Cuenta__E3237CF764F8D385]    Script Date: 11/11/2017 22:02:35 ******/
ALTER TABLE [dbo].[Cuenta] ADD UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Curso__E8181E1116F0B3E2]    Script Date: 11/11/2017 22:02:36 ******/
ALTER TABLE [dbo].[Curso] ADD UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Estatus__3214EC260F23683F]    Script Date: 11/11/2017 22:02:36 ******/
ALTER TABLE [dbo].[Estatus] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Estatus__75E3EFCF03D15B52]    Script Date: 11/11/2017 22:02:36 ******/
ALTER TABLE [dbo].[Estatus] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Grupo__3214EC26840CDFCE]    Script Date: 11/11/2017 22:02:36 ******/
ALTER TABLE [dbo].[Grupo] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Materia__E8181E119CEA8357]    Script Date: 11/11/2017 22:02:36 ******/
ALTER TABLE [dbo].[Materia] ADD UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Profesor__2C1BC25EDF60D486]    Script Date: 11/11/2017 22:02:36 ******/
ALTER TABLE [dbo].[Profesor] ADD UNIQUE NONCLUSTERED 
(
	[Empleado_No_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Tipo_Aul__3214EC26BBE0F3CF]    Script Date: 11/11/2017 22:02:36 ******/
ALTER TABLE [dbo].[Tipo_Aula] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Tipo_Aul__B6FCAAA275BA321F]    Script Date: 11/11/2017 22:02:36 ******/
ALTER TABLE [dbo].[Tipo_Aula] ADD UNIQUE NONCLUSTERED 
(
	[TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aula]  WITH CHECK ADD  CONSTRAINT [Tipo_fk] FOREIGN KEY([Tipo_aula])
REFERENCES [dbo].[Tipo_Aula] ([ID])
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [Tipo_fk]
GO
ALTER TABLE [dbo].[Clases]  WITH CHECK ADD  CONSTRAINT [Clases_Curso] FOREIGN KEY([Curso_Clave])
REFERENCES [dbo].[Curso] ([Clave])
GO
ALTER TABLE [dbo].[Clases] CHECK CONSTRAINT [Clases_Curso]
GO
ALTER TABLE [dbo].[Clases]  WITH CHECK ADD  CONSTRAINT [Clases_Materia] FOREIGN KEY([Materia_Clave])
REFERENCES [dbo].[Materia] ([Clave])
GO
ALTER TABLE [dbo].[Clases] CHECK CONSTRAINT [Clases_Materia]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [Cliente_Estatus] FOREIGN KEY([Estatus_ID])
REFERENCES [dbo].[Estatus] ([ID])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [Cliente_Estatus]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [Curso_Aula] FOREIGN KEY([Aula_Numero])
REFERENCES [dbo].[Aula] ([Numero])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [Curso_Aula]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [Curso_Profesor] FOREIGN KEY([Profesor_Empleado_No_empleado])
REFERENCES [dbo].[Profesor] ([Empleado_No_empleado])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [Curso_Profesor]
GO
ALTER TABLE [dbo].[Curso_Horario]  WITH CHECK ADD  CONSTRAINT [Curso_Horario_Curso] FOREIGN KEY([Curso_Clave])
REFERENCES [dbo].[Curso] ([Clave])
GO
ALTER TABLE [dbo].[Curso_Horario] CHECK CONSTRAINT [Curso_Horario_Curso]
GO
ALTER TABLE [dbo].[Curso_Horario]  WITH CHECK ADD  CONSTRAINT [Curso_Horario_Horario] FOREIGN KEY([Horario_Clave])
REFERENCES [dbo].[Horario] ([Clave])
GO
ALTER TABLE [dbo].[Curso_Horario] CHECK CONSTRAINT [Curso_Horario_Horario]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [Grupo_Estudiante] FOREIGN KEY([Cliente_ID])
REFERENCES [dbo].[Cliente] ([ID])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [Grupo_Estudiante]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [Inscripcion_Curso] FOREIGN KEY([Curso_Clave])
REFERENCES [dbo].[Curso] ([Clave])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [Inscripcion_Curso]
GO
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD  CONSTRAINT [Materia_Area] FOREIGN KEY([Area_ID])
REFERENCES [dbo].[Area] ([ID])
GO
ALTER TABLE [dbo].[Materia] CHECK CONSTRAINT [Materia_Area]
GO
ALTER TABLE [dbo].[Profesor]  WITH CHECK ADD  CONSTRAINT [Profesor_Area] FOREIGN KEY([Area_ID])
REFERENCES [dbo].[Area] ([ID])
GO
ALTER TABLE [dbo].[Profesor] CHECK CONSTRAINT [Profesor_Area]
GO
ALTER TABLE [dbo].[Profesor]  WITH CHECK ADD  CONSTRAINT [Profesor_Cuenta] FOREIGN KEY([Cuenta_ID])
REFERENCES [dbo].[Cuenta] ([ID])
GO
ALTER TABLE [dbo].[Profesor] CHECK CONSTRAINT [Profesor_Cuenta]
GO
ALTER TABLE [dbo].[Profesor]  WITH CHECK ADD  CONSTRAINT [Profesor_Empleado] FOREIGN KEY([Empleado_No_empleado])
REFERENCES [dbo].[Empleado] ([No_empleado])
GO
ALTER TABLE [dbo].[Profesor] CHECK CONSTRAINT [Profesor_Empleado]
GO
ALTER TABLE [dbo].[Profesor]  WITH CHECK ADD  CONSTRAINT [Profesor_Estatus] FOREIGN KEY([Estatus_ID])
REFERENCES [dbo].[Estatus] ([ID])
GO
ALTER TABLE [dbo].[Profesor] CHECK CONSTRAINT [Profesor_Estatus]
GO
USE [master]
GO
